text {
  color: white;
  align-items: center;
  font-size: large;
}

body {
  background-color: #f8f9fa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.image-inverted {
  filter: invert(100%);
  align-items: center;
  horiz-align: center;
  vertical-align: middle;
}

.navbar-nav {
  display: flex;
  background-color: black;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 10vh;
  min-height: 50px;
  max-height: 70px;

}

.publicationLayout {
  display: flex;
  height: 100vh;  /* Use full height of the viewport */
  width: 100vw; /* Allow the layout to expand to full width */
  margin: 0;
}

.left-nav {
  margin-left: 2vw;
  bottom:0;
  top: 0;
  z-index: 10;  /* Ensure the navbar stays above the PDF content */
}

.pdfView {
  /* Centering the PDF viewer and scaling it */
  flex-grow: 0;
  padding: 0;
  margin-left: 15vw;
  margin-top: 1vh;
  align-self: normal;

}

.resumeView {
  /* Centering the PDF viewer and scaling it */
  justify-items: center;
  height: 100vh;
  margin-top: 10vh;
}

.pdfBackground {
  outline: 5px solid black;
  margin-bottom: 20px;
}

/* Media query for mobile view (adjust the max-width as needed) */
@media (max-width: 768px) {
  .publicationLayout {
    flex-direction: column;  /* Stack the navbar on top of the PDF viewer */
    height: 100vh;  /* Use full height of the viewport */
    margin: 0;  /* Remove any margin */
  }

  .left-nav {
    align-self: start;
    margin-left: 14vw;
    padding: 0;         /* Remove padding for no extra space */
  }

  .pdfView {
    width: 65vw;
    padding: 0;        /* Remove any padding to prevent extra space */
  }


}

.button-container {
  display: flex;
  align-items: center; /* Align buttons vertically */
  gap: 5px; /* Add spacing between buttons */
}

.pdf-button {
  border: 2px solid black; /* Black border */
  background-color: white; /* White background */
  color: black; /* Black text */
  font-size: 16px; /* Adjust font size */
  cursor: pointer; /* Show pointer on hover */
  text-align: center; /* Center text */
  display: inline-block; /* Keep it inline */
  min-width: 200px;
  min-height: 50px;
  width: 12vw;
  height: 5vh;
  overflow: hidden;
}

.download-button {
  border: 2px solid black; /* Black border */
  background-color: white; /* White background */
  color: black; /* Black text */
  font-size: 16px; /* Adjust font size */
  cursor: pointer; /* Show pointer on hover */
  text-align: center; /* Center text */
  display: inline-block; /* Keep it inline */
  min-width: 100px;
  min-height: 50px;
  width: 3vw;
  height: 5vh;
  overflow: hidden;
}

.download-button:hover {
  background-color: black;
  color: white; /* Invert colors on hover */
}

.pdf-button:hover {
  background-color: black;
  color: white; /* Invert colors on hover */
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Optional, for spacing between buttons */
}


.navText {
  color: white;
  text-decoration: none;
  horiz-align: center;
  font-size: clamp(10px, 5vw, 25px);
  margin-right: 10px;
  margin-left: 20px;
  align-items: center;
  vertical-align: center;
}

/* Use CSS Grid for centering */
.full-page {
  height: 100vh; /* Full viewport height */
  display: flex; /* Enable Grid */
  place-items: center; /* Centers content both vertically and horizontally */
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; /* Optional: Background color */
}

.inner-page {
  position: relative;
  height: 80vh; /* Full viewport height */
  width: 75vw;
  display: grid; /* Enable Grid */
  background-color: #f8f9fa; /* Optional: Background color */
}

/* Style the text */
.main-text {
  font-size: large; /* Adjust text size */
  font-weight: normal; /* Optional: Make it bold */
  color: black; /* Optional: Text color */
  height: 1px;
  vertical-align: center;
  text-align: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
